

/*********** CSS RESET **********/


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
  margin: 0;
  -webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="file"] > button::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  margin: 0;
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  border-radius: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
}

script {
  display: none !important;
}


/*********** GLOBAL STYLES **********/



body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font: normal 14px Arial, Helvetica, sans-serif;
  color: #777;
}

a {
  color: inherit;
  cursor: pointer;
}

  a img {
    opacity: 0.99; /*firefox scale bug fix*/
  }

table {
  width: 100%;
  border-collapse: collapse;
}
/*SIDEBAR*/
.sidebar_container {
  z-index: 999;
  padding: 0;
  width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition-duration: .6s;
  transition-property: left;
}

.sidebar {
  height: 100%;
  padding: 10px 30px;
  line-height: 40px;
  font-size: 16px;
  width: 100%;
  list-style-type: none;
}

.logo_container {
  background: #21ce99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

  .logo_container > img {
    width: 40px;
    height: 40px;
  }

.sidebar-menu {
  height: calc(100% - 70px);
  padding: 20px 25px;
  position: relative;
  overflow-y: auto;
  background: #222428;
  color: #82929f;
  overflow: hidden;
  border-right: 1px solid #090d16;
}

.sidebar > .nav-item.active {
  color: #21ce99;
}

.sidebar > .nav-item:hover {
  color: #FFF;
}
/*SIDEBAR*/

/*HEADER*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 226px;
  width: auto;
  z-index: 99;
  background: #222428;
  display: flex;
  align-items: center;
}

.search_box {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

  .search_box > input {
    width: 100%;
    outline: none;
    background: #222428;
    border: none;
    border-bottom: 1px solid #090d16;
    color: #fff;
    font-size: 16px;
    padding: 26px 30px 26px 0px;
  }

  .search_box > svg {
    color: #82929f;
  }

.avatar_box {
  width: fit-content;
  background: #090d16;
  padding: 15px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  opacity: .85;
  font-size: 14px;
  cursor: pointer;
  gap: 10px;
  border: 0;
  text-align: left;
}

  .avatar_box:hover {
    opacity: 1;
  }

  .avatar_box::after {
    display: none;
  }

.avatar_img_container {
  font-size: 14px;
  overflow: hidden;
  background: #ccc;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

  .avatar_img_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.user_info_box {
  gap: 3px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

  .user_info_box > span:nth-child(2) {
    font-size: 12px;
    font-weight: 700;
  }

.header .dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #30333a;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  right: 0 !important;
}

  .header .dropdown-menu > li {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
  }

    .header .dropdown-menu > li:hover {
      background-color: #37393c;
    }

    .header .dropdown-menu > li > a {
      display: block;
      margin: -5px -12px;
      padding: 5px 12px;
      color: #fff;
      transition: all .3s;
      text-decoration: none;
    }

.nav_toggler {
  display: none;
  text-align: center;
  cursor: pointer;
  background: #21ce99;
  padding: 15.5px 18px 15.5px 30px;
}

  .nav_toggler > svg {
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
  }
/*HEADER*/



@media screen and (max-width: 1025px) {
  .logo_container, .sidebar-menu {
    display: none;
  }

  .nav_toggler {
    display: block;
  }

  .sidebar_container {
    width: fit-content;
    min-height: fit-content;
  }

  .header {
    left: 64px;
  }
}
