@model CustomerModel

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
    Name = "withdrawal-method-grid",
    UrlRead = new DataUrl("WithdrawalMethodList", "Customer",new RouteValueDictionary{[nameof(Model.CustomerWIthdrawalMethodSearchModel.CustomerId)] = Model.Id }),
    Length = Model.CustomerWIthdrawalMethodSearchModel.PageSize,
    LengthMenu = Model.CustomerWIthdrawalMethodSearchModel.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
    {
    new ColumnProperty(nameof(CustomerWithdrawalMethodModel.WithdrawalMethodType))
    {
    Title = T("Admin.Customers.CustomerWithdrawalMethodModel.WithdrawalMethodType").Text,
    },
    new ColumnProperty(nameof(CustomerWithdrawalMethodModel.WithdrawalMethodName))
    {
    Title = T("Admin.Customers.CustomerWithdrawalMethodModel.WithdrawalMethodName").Text,
    Encode = false
    }
    }
    })
</div>
@* <div class="card-footer">
    <p id="totalPaidCommission">@T("Admin.Customers.CustomerCommissionModel.TotalPaidCommission"): <span></span></p>
    <button type="submit" id="btnRefreshCustomerCommissionGrid" style="display: none"></button>
    <script>
        function TotalCommission() {
            //refresh grid
            updateTable('#customer-commission-grid');

            var postData = {
                SelectCustomer: $('#@Html.IdFor(model => model.Id)').val(),
                UnGrouped: true
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("CustomerCommissionList", "Customer"))",
                data: addAntiForgeryToken(postData),
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    if (data) {
                        $('#totalPaidCommission span').text(data.TotalPaidAmount);
                    }
                }
            });
        }
        $(document).ready(function () {
            $('#customer-commission-grid_wrapper .data-tables-refresh').click(function () {
                TotalCommission();

                //return false to don't reload a page
                return false;
            });
            TotalCommission();
        });
    </script>
</div> *@