@using Nop.Services.Localization
@using Nop.Core
@inject ILocalizationService localizationService
@inject IStoreContext storeContext

@{
    Layout = "_CustomLayout";

    var homepageTitle = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageTitle);

    //title
    if (!string.IsNullOrEmpty(homepageTitle))
    {
        NopHtml.AddTitleParts(homepageTitle);
    }

    var homepageDescription = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageDescription);

    //meta
    if (!string.IsNullOrEmpty(homepageDescription))
    {
        NopHtml.AddMetaDescriptionParts(homepageDescription);
    }

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        <h1>Home page</h1>
        <table style="border: 1px solid #fff;">
            <tbody>
                <tr>
                    <td>Testing</td>
                </tr>
            </tbody>
        </table>
        @*<div class="box-parent">
            <div class="table_box">
                    <div class="form-group search_box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" class="form-control" placeholder="Search by stock or market name">
                    </div>                    
                <div class="stock_table">
                    <div class="stock_table_row">
                        <div class="stock_table_column">
                            <p>test</p>
                            <small>abc</small>
                        </div>
                        <div class="stock_table_column">
                            <p>test</p>
                        </div>
                        <div class="stock_table_column">
                            <p>$123</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart_box">
            </div>
        </div>*@
        @*@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageTop })*@
        @*@await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" })*@
        @* @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync(typeof(HomepageCategoriesViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync(typeof(HomepageProductsViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync(typeof(HomepageNewsViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync(typeof(HomepagePollsViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBottom })*@
    </div>
</div>
