@model PasswordRecoveryModel
@{
    Layout = "_Root.Head";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

<style>

    .recover-image {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA3ySX-GMjfzKM5o70Vbg6gY8tBUGNEW3ymA&usqp=CAU');
        background-size: cover;
        background-position: 50%;
        background-repeat: none;
        flex-shrink: 1;
        flex-basis: 50%;
        height: 100vh;
        flex-grow: 1;
        max-width: 100%;
    }

     .recover-layout {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        background: #090d16;
        align-items: center;
        justify-content: center;
    }
    .heading{
        margin-top: 0;
        margin-bottom: 0.5em;
        color: #fff;
        font-weight: 500;
        font-size:21px;
    }
    .recover-inputs input{
        height: 40px;
        padding: 6px 11px 6px 30px;
        font-size: 16px;
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        font-feature-settings: "tnum","tnum";
        display: inline-block;
        width: 100%;
        color: #fff;
        line-height: 1.5;
        background-color: #30333a;
        background-image: none;
        border: 1px solid #404040;
        border-radius: 4px;
        transition: all .3s;
        margin-bottom: 25px;
    }

    .recover-inputs input:focus, .recover-inputs input:hover, .recover-inputs input:focus-visible {
        border-color: #46dbaa !important;
        border-right-width: 1px !important;
        outline: none;
    }
    .recover-btn{
        background-color: rgb(56, 173, 144);
        color: white;
        border-color: rgb(69, 214, 168);
        border: 1px solid #404040;
        margin-top: 25px;
        border-radius: 2px !important;
        line-height: 44px !important;
        height: 44px !important;
        text-transform: uppercase;
        font-size: 12px !important;
        padding: 0 25px !important;
        font-weight: 600 !important;
        font-size:14px;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
        background-image: none;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        user-select: none;
        touch-action: manipulation;
        box-shadow: 0 2px 0 rgba(0,0,0,.045);
        text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    }
    .recover-page {
        margin-left: 52px;
        margin-right: 52px;
        padding: 15px;
        max-width: 412px;
    }

    .logo-full {
        max-height: 60px;
        margin: 0 0 30px;
    }

    .recover-wrapper{
        display: flex;
        width: 100%;
        align-items: center;
    }

    .recover-inputs {
        position: relative;
    }

    #Email-error {
        color:red;
        font-size:14px;
        margin-bottom:5px;

    }
    .input-prefix{
        position: absolute;
        top: 32%;
        z-index: 2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        line-height: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left:12px;
    }
    .preicon {
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 14px;
        width:14px;
        color: color: rgba(255, 255, 255, 0.5);
    }
    .page-title h2 {font-size:21px !important; margin-bottom:17px !important; line-height: 2 !important; color:#fff !important;}
    .page-title h4 {font-size:14px !important; margin-bottom:17px !important; line-height: 2 !important; color:#fff !important;}
</style>

<script>
  $(document).ready(function () {
    
    $('.required').on('input keyup', function () {
        if ($(this).val() === '') {
            $(this).css('border-color', 'red');
        } else {
            $(this).css('border-color', '');
        }
    });

});


</script>

<div class="recover-layout p-0">
    <div class="row recover-wrapper">
        <div class="recover-image col-12 col-md-10 col-lg-10 col-xl-10 d-none d-sm-block d-md-block col-12 col-md-10 col-lg-10 col-xl-10 p-0"></div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-6 col-sm-12 col-md-6 col-lg-5 col-xl-6 p-0">
            <div class="page password-recovery-page recover-page">
                <div class="page-title">
                    <!-- <h1>@T("Account.PasswordRecovery")</h1> -->
                    <h2>Forgot your password?</h2>
                    <h4>You will receive an email with a link to reset your password.</h4>
                </div>
                <div class="page-body">
                    <form asp-route="PasswordRecovery" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="recover-inputs">
                                    <!-- <label asp-for="Email" asp-postfix=":"></label> -->
                                    <span class="input-prefix"><i aria-label="icon: user" class="preicon anticon-user" style="color: rgba(255, 255, 255, 0.5); width: 14px; height: 14px;"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="user" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"></path></svg></i></span>
                                    <input placeholder="email * " asp-for="Email" class="email required"/>
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <nop-captcha />
                            }
                        </div>
                         <!-- <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p> -->
                        <div class="buttons">
                            <button type="submit" name="send-email" class="button-1 password-recovery-button recover-btn">@T("Account.PasswordRecovery.RecoverButton")</button>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>
</div>


