@model TransactionModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Valut").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}
<form method="post">
    <nop-antiforgery-token />
<nop-select asp-for="TransactionTypeId" asp-items="Model.AvailableTransactionType" />
<nop-editor asp-for="TransactionAmount" />
<nop-editor asp-for="TransactionNote" />
</form>