@model TransactionModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Withdraw").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}
<form method="post">
    <nop-antiforgery-token />
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <nop-editor asp-for="TransactionAmount" />
    <button type="submit">@T("Customer.Withdraw.MakeTransaction")</button>
</form>

@foreach (var item in Model.RecentTransactions)
{
    <span>@item.TransactionNote</span>
    <span>@item.CreateOnUtc.ToShortDateString()</span>
    <span>@item.TransactionAmount</span>
}